-# .row-fluid
- @movie.each do |m|
  .image
    %a(class="additem" href="#")
      -# %img(src="#{m.img}")
      %video(class="movie" src="#{m.mp4}" poster="#{m.img}" width="200px" controls)
    %p="#{m.title}"
    %img(src="http://b.hatena.ne.jp/entry/image/#{m.url}")